.percent {
    position: relative;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percent svg {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotate(270deg);

}

.percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #000000;
    transform: translate(5px, 5px);
}

.percent svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 252;
    stroke-dashoffset: calc(252 - (252 * var(--num)) /100);
    animation: fadeIn 1s linear forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    animation: animateDot 1s linear forwards;
}

@keyframes animateDot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

.dot::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr);
}

.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.number h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.number span{
    font-size: 0.6rem;
}