@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
html{
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body {
  /* color: #94A9C9;
  background: #0F172A; */
  background: #000;
  color: white;
}

h1,
h4,
p,
a {
  color: white;
  text-decoration: none;
}

.btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: #282828;
  color: #fff;
  border: none;
  z-index: 1;
  position: relative;
  -webkit-box-shadow: 4px 6px 19px -3px rgba(255, 255, 255, 0.27);
  box-shadow: 4px 6px 19px -3px rgba(255, 255, 255, 0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .btn-light::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(to right, #3aa8cf -20%, #8755c7 82%);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .btn:hover {
  color: #e8e8e8;
 }
 
 .btn:hover::before {
  width: 100%;
 }

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.tab-titles>.btn {
  display: inline-block;
}

.tab-titles{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.tab-titles div .btn{
  flex-shrink: 2%;
}

.active, .btn-light:hover{
  background: linear-gradient(to right, #3aa8cf -20%, #8755c7 82%);
}


.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display: block;
  max-width: 55rem;
  margin: auto;
}

.content-container{
  /* border: 1px solid white; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 2rem 4rem;
  justify-items: center;
  align-items: center;
  padding: 2rem 2.8rem;
  animation: ex 0.5s ease-in-out forwards;
}

.main-container{
  overflow-x: hidden;
}


@keyframes ex{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

.sub-container{
  max-width: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 6rem;
  /* border: 1px solid blue; */
  /* background-color: #212121; */
  overflow: hidden;
  position: relative;
}

.sub-container h3{
  font-weight: 300;
}


.mb-20{
  margin-bottom: 20px;
}

@media screen and (max-width:500px) {
  .btn{
    padding: 0.5rem 1rem;;
    font-size: 0.8rem;
  }
  .content-container{
    /* border: 1px solid white; */
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  }
}